<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team Form</h1>
   <h2>Team Name = <% @name %></h2>
   <h3>Coach = <% @coach %></h3>
   <h4>Point Guard = <% @pg %></h4>
   <h5>Shooting Guard = <% @sg %></h5>
   <h6>Small Forward = <% @sf %></h6>
   <h7>Power Forward = <% @pf %></h7>
   <h8>Center = <% @c %></h8>
 </body>
</html>


